<!DOCTYPE html>
<html lang="en">

<head>
    <title>CAOS NEWS®</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{%static 'app/css/Style.css'%}">
    <link rel="stylesheet" href="iniciar.html">
    <link rel="stylesheet" href="registrar.html">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class ="contenido">
    {% block contenido %}

    {% endblock %}
    </div>

</body>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">-----© 2021 Copyright: CAOS NEWS-----
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</html>