<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denuncias</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %}">
    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' %}"></script>
    <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js' %}"></script>
    <script src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %}"></script>

</head>
<body>
   <div class="container">
    <div class="table">
       <h1>DENUNCIAS</h1>
   </div>
   <div class="container">
       <table class="table table-striped">
           <thead>
               <tr>
                   <th scope="col">ID_Denuncia</th><th scope="col">Descipcion_Denuncia</th>
                   <th scope="col">Fecha_Denuncia</th><th scope="col">Opciones</th>
                </tr>
           </thead>

           <tbody>

            {% for ve in denuncias %}
            <tr>
                <td>{{ve.idDenuncia}}</td><td>{{ve.descripcionDenuncia}}</td>
                <td>{{ve.fechaDenuncia}}</td>
                <td><a href="{% url 'form_mod_denuncia' ve.idDenuncia %}">Modificar</a></td>
                <td><a href="{% url 'form_del_denuncia' ve.idDenuncia %}">Eliminar</a></td>
            </tr>
            {% endfor %}

           </tbody>

       </table>
       <a href="{% url 'form_denuncia' %}">Nueva Denuncia</a>
   </div>
</div>
    
</body>
</html>